<div class="row">
  <div class="col-12">
    <div class="card">
      <p-table
        #dt
        [value]="formasPago"
        [rows]="10"
        [paginator]="true"
        responsiveLayout="scroll"
        [rowHover]="true"
        dataKey="id_forma_pago"
        [showCurrentPageReport]="true"
        class="table-sm"
        [globalFilterFields]="['id_forma_de_pago']"
      >
        <ng-template pTemplate="caption">
          <div class="flex">
            <h3 class="m-0">Gestión de Formas de Pago</h3>
            <span class="flex-auto"></span>
            <button
            pButton
            pRipple
            label="Nuevo"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="new()"
          ></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar..." />
            </span>
        </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-formaPago>
          <tr>
            <td>{{ formaPago.id_forma_de_pago }}</td>
            <td>{{ formaPago.codigo }}</td>
            <td>{{ formaPago.nombre }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success"
                (click)="editFormaPago(formaPago)"
              ></button
              >&nbsp;
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteFormaPago(formaPago)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="formaPagoDialog"
  [style]="{ width: '450px' }"
  header="Mueble"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="code">Código</label>
      <input
        type="text"
        pInputText
        id="code"
        [(ngModel)]="formaPago.codigo"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !formaPago.codigo"
        >Este campo es requerido.</small
      >
    </div>
    <div class="field">
      <label for="name">Nombre</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="formaPago.nombre"
        required
      />
      <small class="p-error" *ngIf="submitted && !formaPago.nombre"
        >Este campo es requerido.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
